* {
    box-sizing: border-box;
}

:root {
    --bg-primary: #142850;
    --bg-secondary: #27496D;
    --txt-primary: #0C7B93;
    --txt-secndary: #00A8CC;
    --txt-else:#EEE;
    --bdr-primary: #162447;
}

.app {
    width: 425px;
    margin: 0 auto;
    background-color: var(--bg-secondary);
    border: 1px solid var(--bdr-primary);
    min-height: 100vh;
}

@media (max-width: 420px) {
    .app {
        width: 100%;
    }
}

.brand {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0;
    color: var(--txt-secndary);
}

.nav {
    border-bottom: 1px solid var(--bdr-primary);
    border-top: 1px solid var(--bdr-primary);
    display: flex;
}

.nav-item {
    display: inline-block;
    font-size: 14px;
    flex: 1 1 0;
    text-align: center;
    padding: 14px 0;
    color: var(--txt-primary);
    text-decoration: none;
}

.nav-item:hover {
    color: var(--txt-secndary);
    transform: scale(1.1) ;
    -webkit-transform: scale(1.1) ;
    -moz-transform: scale(1.1) ;
    transition: ease .3s;
    font-weight: 600;
}

.nav-item:not(:last-child) {
    border-right: 1px solid var(--bdr-primary);
}

.section {
    padding: 30px;
    color: var(--txt-else);
}

.section-title {
    margin-top: 0;
}

.section-description {
    line-height: 26px;
}

/* .home {
    background-image: url('../public/bg-home.jpg');
    background-size: cover;
} */

.about {
    display: flex;
    flex-direction: column;
}

.about-image {
    max-width: 75%;
    border-radius: 3px;
}

.articles {
    border-top: 1px solid var(--bdr-primary);
}

.article {
    border-bottom: 1px solid var(--bdr-primary);
    padding: 20px 0;
}

.article-title {
    margin-top: 0;
}

.article-title a {
    color: var(--txt-secndary);
    text-decoration: none;
}

.article-title a:hover {
    color: var(--txt-else);
}

.article-time {
    color: var(--txt-primary);
    font-size: 12px;
}

.article-image {
    max-width: 100%;
    margin: 30px 0;
}

.article-summary {
    line-height: 26px;
    margin-top: 0;
}

.article-source {
    color: var(--txt-primary);
}

.article-source a {
    color: var(--txt-secndary);
}

.portfolio {
    color: var(--txt-primary);
    text-decoration: none;
}

.portfolio-card {
    border: 1px solid var(--bdr-primary);
    padding: 20px 10px;
    border-radius: 3px;
    transition: ease .3s;
    margin-bottom: 20px;
}

.portfolio-card:hover {
    color: #00A8CC;
    transform: translate(6px,-6px);
    -webkit-transform: translate(6px,-6px);
    -moz-transform: translate(6px,-6px);

    box-shadow: -5px 5px 0px 0px var(--txt-secndary);
    -webkit-box-shadow: -5px 5px 0px 0px var(--txt-secndary);
    -moz-box-shadow: -5px 5px 0px 0px var(--txt-secndary);

}

.portfolio-title {
    margin: 0;
}

.portfolio-description {
    margin: 10px 0 0 0;
}

.portfolio-stack {
    display: inline-block;
    margin: 20px 5px 0 0;
    font-size: 12px;
    border: 1px solid #eee;
    padding: 3px;
    border-radius: 3px;
    color: #999;
}

.footer {
    text-align: center;
    background-color: var(--bg-primary);
    margin-top: 30px;
    padding: 30px 0 30px 0;
}

.footer-button {
    background-color: #BBE1FA;
    border: none;
    padding: 8px 24px;
    border-radius: 3px;
    margin: 10px 0 44px 0;
}

.footer-button:hover {
    transition: ease .3s;
    background-color: #00A8CC;
}

.footer-button a {
    color: var(--bdr-primary);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.footer-icons a {
    margin: 5px 10px;
    font-size: 24px;
    color: var(--txt-else);
    text-decoration: none;
}

.footer-message {
    margin: 5px 0;
    color: var(--bg-secondary);
    font-size: 12px;
}