.app {
    width: 425px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #eee;
    min-height: 100vh;
}

.brand {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0;
}

.nav {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    display: flex;
}

.nav-item {
    display: inline-block;
    flex: 1 1 0;
    text-align: center;
    padding: 14px 0;
    color: #000;
    text-decoration: none;
}

.nav-item:not(:last-child) {
    border-right: 1px solid #eee;
}

.section {
    padding: 30px;
}

.section-title {
    margin-top: 0;
}

.section-description {
    line-height: 26px;
}

.articles {
    border-top: 1px solid #eee;
}

.article {
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}

.article-title {
    margin-top: 0;
}

.article-title a {
    color: #000;
    text-decoration: none;
}

.article-title a:hover {
    color: blue;
}

.article-time {
    color: #999;
    font-size: 12px;
}

.article-image {
    max-width: 100%;
    margin: 30px 0;
}

.article-summary {
    line-height: 26px;
    margin-top: 0;
}

.article-source {
    color: #999;
}